<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="logo">
      <a [routerLink]="['/']">
        <img class="expanded" src="./assets/image/logo.png" />
      </a>
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <ng-template ngFor let-item="$implicit" [ngForOf]="menus" let-menuIndex="index">
        <li nz-menu-item *ngIf="item.children.length==0" routerLinkActive="ant-menu-item-selected">
          <a class="ng-star-inserted" [routerLink]="[item.href]">
            <i nz-icon type="{{item.icon}}" *ngIf="item.icon!=''"></i>
            <span class="nav-text">{{item.name}}</span>
          </a>
        </li>
        <li nz-submenu *ngIf="item.children.length!=0">
          <span title>
            <i nz-icon type="{{item.icon}}" *ngIf="item.icon!=''"></i>
            <span class="nav-text">{{item.name}}</span>
          </span>
          <ul>
            <ng-template ngFor let-child="$implicit" [ngForOf]="item.children" let-i="index">
              <li nz-menu-item *ngIf="child.children.length==0" routerLinkActive="ant-menu-item-selected">
                <a class="ng-star-inserted" [routerLink]="[child.href]">
                  <span>
                    <i nz-icon type="{{child.icon}}" *ngIf="child.icon!=''"></i>
                    <span class="nav-text">{{child.name}}</span>
                  </span>
                </a>
              </li>

              <li nz-submenu *ngIf="child.children.length!=0">
                <span title>
                  <i nz-icon type="{{child.icon}}" *ngIf="child.icon!=''"></i>
                  <span class="nav-text">{{child.name}}</span>
                </span>
                <ul>
                  <li nz-menu-item *ngFor="let childchild of child.children;" routerLinkActive="ant-menu-item-selected">
                    <a class="ng-star-inserted" [routerLink]="[childchild.href]">
                      <span>
                        <i nz-icon type="{{childchild.icon}}" *ngIf="childchild.icon!=''"></i>
                        <span class="nav-text">{{childchild.name}}</span>
                      </span>
                    </a>
                  </li>
                </ul>
              </li>
            </ng-template>
          </ul>
        </li>
      </ng-template>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i nz-icon class="trigger" [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>哈尔滨百氏佳居网络科技有限公司 | 网络经营许可证 黑ICP备11024601号-12 | ©Copyright©2016-2016好酷网housecool.com版权所有 黑公网安备
      44030502000415号
    </nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i class="anticon anticon-up"></i>
</ng-template>
